Debug/*
Debug
CoffeeShop/Debug/*
CoffeeShop/Debug/
GOL/Debug/
GOL/Debug/*
GOLTest/
IBeCool/Debug/*
IBeCool/Debug
ITC/*
Picasso/Debug
Picasso/Debug/*
*.sdf
*.opensdf

*.tlog
*.lastbuildstate
*.id0
ObstacleCourse/Release/
FinalExes/
*.exp
*.id1
*.nam
*.til
